@import 'tailwindcss';

:root {
  --brand-blue: oklch(57.2% 0.13 240deg);
  --brand-blue-hover: oklch(51.9% 0.117 239deg);
  --brand-blue-light: oklch(89.8% 0.0225 222deg);
  --brand-blue-dark: oklch(20.4% 0.0388 229deg);
  --brand-grey: oklch(46.2% 0.0248 223deg);
  --brand-grey-2: oklch(92.2% 0.000000000000000749 0deg);
  --brand-magenta: oklch(65.1% 0.238 356deg);
  --brand-magenta-light: oklch(86.7% 0.0594 348deg);
  --brand-green: oklch(51% 0.157 146deg);
  --brand-green-light: oklch(87.5% 0.0345 155deg);
  --brand-lapise-dense: oklch(33.6% 0.0634 233deg);
  --brand-lapise-surface: oklch(73.3% 0.0738 233deg);
  --brand-dust: oklch(97.5% 0.0172 220deg);
}

@theme inline {
  --font-sans: var(--font-abc-monument-grotesk);
  --font-serif: var(--font-abc-marist);
  --font-mono: var(--font-abc-monument-grotesk-mono);
  --color-brand-blue: var(--brand-blue);
  --color-brand-blue-hover: var(--brand-blue-hover);
  --color-brand-blue-light: var(--brand-blue-light);
  --color-brand-blue-dark: var(--brand-blue-dark);
  --color-brand-grey: var(--brand-grey);
  --color-brand-grey-2: var(--brand-grey-2);
  --color-brand-magenta: var(--brand-magenta);
  --color-brand-magenta-light: var(--brand-magenta-light);
  --color-brand-green: var(--brand-green);
  --color-brand-green-light: var(--brand-green-light);
  --color-brand-lapise-dense: var(--brand-lapise-dense);
  --color-brand-lapise-surface: var(--brand-lapise-surface);
  --color-brand-dust: var(--brand-dust);

  --color-destructive: var(--color-red-500);
  --color-ring: var(--color-brand-blue);
}
